.award-record-container{
    padding: 12px 26px;
    background-color: rgba(0,0,0,0.42);
    border-radius: 8px 8px 0 0;
    color: white;
    .nut-divider {
        color: white;
    }
    .record-item{
        display: flex;
        justify-content: space-between;
        line-height: 40px;
    }
}