Page { background-color: #f6f5f4; }
.award-container{
    .info-section {
        p {
            display: flex;
            align-items: center;
        }
    }
    .add-prize-btn{
        width: 90%;
        margin-left: 5%;
    }
    .nut-table-summary{
        height: auto;
    }
    .local-image-preview {
        position: relative;
        .edit-icon{
            position: absolute;
            right: -24px;
            top: 4px
        }
        .image-placeholder{
            border: 1px solid #f6f5f4;
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: #999;
            }
        }
    }
    .prize-num-input {
        .nut-number-input{
            height: 30px;
            line-height: 30px;
            background: white;
            // border: 1px solid #f6f6f6;
        }
    }
    .nut-inputnumber {
        .nut-input-add, .nut-input-minus {
            width: 30px;
            height: 30px;
            background: #f6f6f6;
            border-radius: 4px;
        }
    }

}

.custom-fixed-nav{
    display: flex;
    align-items: center;
    color: white;
    width: 100rpx;
    font-size: 22px;
}