Page { background-color: rgb(253 118 11) }
.lottery-wrapper{
    .record-link {
        position: absolute;
        top: 1280px;
        right: 0px;
        width: 140px;
        color: white;
        text-align: center;
        font-size: 24px;
    }
    .sologan {
        background: url('https://img2.imgtp.com/2024/05/26/shex3OcZ.png') no-repeat;
        width: 100%;
        height: 202px;
        background-size: 100% 100%;
        margin-bottom: 40px;
    }
    .bg {
        background: url('https://img2.imgtp.com/2024/05/26/GUQ3v8UH.png') no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 1334px;
    }
    .wheel-container{
        width: 100%;
        position: relative;
        margin-bottom: 297px;
        .drawer-bottom {
            position: absolute;
            bottom: -190px;
            left: 0;
            width: 100%;
            background: url('https://img2.imgtp.com/2024/05/26/rc2qBkiy.png') no-repeat;
            height: 297px;
            background-size: 100% 100%;
            .draw-times-tip{
                position: absolute;
                bottom: 56px;
                left: 0;
                width: 100%;
                text-align: center;
                color: white;
                font-size: 24px;
            }
        }
        .record-notice{
            position: absolute;
            top: 960px;
            width: 90%;
            left: 5%;
            .nut-noticebar-vertical{
                background-color: rgba(0,0,0,0.2);
                color: white;
                border-radius: 4px;
            }
        }
    }
    .award-rules-container{
        position: relative;
        top: 50px;
        background-color: rgba(0,0,0,0.2);
        color: white;
        border-radius: 4px;
        padding: 24px 50px;
        width: 100%;
        h2 {

        }
        .rule-item{

        }
    }
    
    .join-activity-btn {
        // background: url('https://img2.imgtp.com/2024/05/26/ZO7kzZKA.png') no-repeat;
        background-color: yellow;
        background-size: 100% 100%;
        width: 100%;
        height: 170px;
        line-height: 150px;
        color: #333;
        font-weight: 500;
        text-align: center;
    }
    .empty-tip{
        width: 100%;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 60px;
        line-height: 40vh;
    }
    
}