Page { background-color: rgb(253 118 11) }
.lottery-wrapper{
    .sologan {
        background: url('https://img2.imgtp.com/2024/05/26/shex3OcZ.png') no-repeat;
        width: 100%;
        height: 202px;
        background-size: 100% 100%;
        margin-bottom: 40px;
    }
    .bg {
        background: url('https://img2.imgtp.com/2024/05/26/GUQ3v8UH.png') no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 1334px;
    }
    .wheel-container{
        width: 100%;
        position: relative;
        margin-bottom: 297px;
        .drawer-bottom {
            position: absolute;
            bottom: -190px;
            left: 0;
            width: 100%;
            background: url('https://img2.imgtp.com/2024/05/26/rc2qBkiy.png') no-repeat;
            height: 297px;
            background-size: 100% 100%;
        }
    }
    .activity-btn {
        background: url('https://img2.imgtp.com/2024/05/26/ZO7kzZKA.png') no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 170px;
        line-height: 150px;
        color: #333;
        font-weight: 500;
        text-align: center;
    }
}