Page { background-color: #f6f5f4; }
.list-container{
    padding: 20px 4px;
    .nut-cell {
        align-items: center !important;
    }

    .section-title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #1F1F1F;
    }
    .extra-text{
        font-size: 22px;
    }
    .activity-list-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .activity_name{
        text-decoration: underline;
    }
    
}
