Page { background-color: #f6f5f4; }
.list-container{
    padding: 20px 4px;
    .nut-cell {
        align-items: center !important;
    }

    .section-title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #1F1F1F;
    }
    .extra-text{
        display: flex;
        align-items: center;
        font-size: 22px;
    }
    .activity-list-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .approve-btn{
        display: flex;
        align-items: center;
        position: relative;
        left: -40px;
    }
    .share-btn{
        position: relative;
        left: -40px;
        width: 40px;
        height: 40px;
        border: none;
        display: block;
        text-align: center;
    }
    .activity_name{
        // text-decoration: underline;
        .nut-icon-Edit{
            margin-left: 5px;
        }
    }
    
}
